<footer class="footer pt-lg-5 pt-4 bg-dark text-light">
  <div class="mb-4 py-4 pb-lg-5 container">
    <div class="gy-4 row">
      <div class="col-lg-3 col-md-6 col-sm-4">
        <div class="mb-4 pb-sm-2">
          <a class="d-inline-flex" href="/city-guide">
            <img
                alt="Device managment"
                src="../../../assets/images/logo.png" height="65">
          </a>
        </div>
        <ul class="nav-light flex-column nav">
          <li class="mb-2 nav-item">
            <a href="mailto:example@gmail.com" data-rr-ui-event-key="mailto:example@gmail.com"
              class="fw-normal text-light text-nowrap p-0 nav-link">
              <i class="fa-solid fa-envelope text-primary">&nbsp;</i>example@gmail.com</a></li>
          <li class="mb-2 nav-item"><a href="tel:4065550120" data-rr-ui-event-key="tel:4065550120"
              class="fw-normal text-light text-nowrap p-0 nav-link"><i class="fa-solid fa-mobile text-primary">&nbsp;</i>(406) 555-0120</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <h3 class="fs-base text-light">Quick links</h3>
        <ul class="list-unstyled fs-sm">
          <li><a class="nav-link-light" href="/city-guide#">Top cities</a></li>
          <li><a class="nav-link-light" href="/city-guide#">Accommodation</a></li>
          <li><a class="nav-link-light" href="/city-guide#">Cafes &amp; restaurants</a></li>
          <li><a class="nav-link-light" href="/city-guide#">Events</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <h3 class="fs-base text-light">Profile</h3>
        <ul class="list-unstyled fs-sm">
          <li><a class="nav-link-light" href="/city-guide#">My account</a></li>
          <li><a class="nav-link-light" href="/city-guide#">Favorites</a></li>
          <li><a class="nav-link-light" href="/city-guide#">My listings</a></li>
          <li><a class="nav-link-light" href="/city-guide#">Add listing</a></li>
        </ul>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <h3 class="h4 text-light">Subscribe to our newsletter</h3>
        <p class="fs-sm mb-4 opacity-60">Don't miss any relevant vacancies!</p>
        <form class="form-group form-group-light rounded-pill">
          <div class="input-group input-group-sm">
            <span class="text-muted input-group-text"><i class="font-lg fa-regular fa-envelope">&nbsp;</i></span><input placeholder="Your email" class="form-control"></div><button
            type="button" class="btn btn-primary rounded-pill btn-sm">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  <div class="py-4 border-top border-light">
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between py-2 container">
      <p class="order-lg-1 order-2 fs-sm mb-2 mb-lg-0"><span class="text-light opacity-60">© All rights reserved. Made
          by </span><a href="https://createx.studio/" class="nav-link-light fw-bold" target="_blank"
          rel="noreferrer">Khouloud</a></p>
      <div class="d-flex flex-lg-row flex-column align-items-center lg-2 order-1 ms-lg-4 mb-lg-0 mb-4">
        <div class="d-flex flex-wrap fs-sm mb-lg-0 mb-4 pe-lg-4"><a class="nav-link-light px-2 mx-1"
            href="/city-guide#">About</a><a class="nav-link-light px-2 mx-1" href="/city-guide#">Blog</a><a
            class="nav-link-light px-2 mx-1" href="/city-guide#">Support</a><a class="nav-link-light px-2 mx-1"
            href="/city-guide#">Contacts</a></div>
        <div class="d-flex align-items-center">
          <div class="dropdown">
            <button type="button" id="react-aria-13" aria-expanded="false"
              class="nav-link nav-link-light fs-sm align-items-center p-0 fw-normal bg-transparent border-0 shadow-none dropdown-toggle btn btn-primary">
              <i class="fa-solid fa-globe">&nbsp;</i>Eng</button></div>
          <div class="ms-4 ps-lg-2 text-nowrap">
            <a href="#"
              class="btn btn-icon btn-xs rounded-circle btn-translucent-light ms-2">
              <i class="fa-brands fa-facebook-f"></i>
            </a><a
              href="#" class="btn btn-icon btn-xs rounded-circle btn-translucent-light ms-2"><i
                class="fa-brands fa-twitter"></i>
              </a><a href="#"
              class="btn btn-icon btn-xs rounded-circle btn-translucent-light ms-2">
              <i class="fa-solid fa-paper-plane"></i></a><a
              href="#" class="btn btn-icon btn-xs rounded-circle btn-translucent-light ms-2">
              <i class="fa-brands fa-facebook-messenger"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
