<div class="container login_wrapper">
  <div class="row mx-0 align-items-center">
    <div class="col-md-6 border-end-md p-4 p-sm-5">
      <h2 class="h3 mb-4 mb-sm-5">Hey there!<br>Welcome back.</h2>
      <div class="d-flex justify-content-center">
        <img src="../../../../assets/images/signin.svg" alt="login">
      </div>
      <div class="mt-4 mt-sm-5">Don't have an account? <a href="#">Sign up here</a></div>
    </div>
    <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
      <button type="button"
        class="btn btn-outline-info rounded-pill w-100 mb-3">
        <i class="fa-brands fa-google fs-lg me-1"></i>Sign in with
        Google
      </button>
      <button type="button" class="btn btn-outline-info rounded-pill w-100 mb-3">
        <i
          class="fa-brands fa-facebook-f fs-lg me-1"></i>Sign in with Facebook</button>
      <div class="d-flex align-items-center py-3 mb-3">
        <hr class="w-100">
        <div class="px-3">Or</div>
        <hr class="w-100">
      </div>
      <form novalidate="" class="">
        <div class="mb-4"><label class="form-label" for="si-email">Email address</label><input
            placeholder="Enter your email" required="" type="email" id="si-email" class="form-control"></div>
        <div class="mb-4">
          <div class="d-flex align-items-center justify-content-between mb-2"><label class="mb-0 form-label"
              for="si-password">Password</label><a class="fs-sm" href="/city-guide#">Forgot password?</a></div>
          <div class="password-toggle position-relative">
            <input id="si-password" placeholder="Enter password" required="" type="password"
              class="form-control">
              <label class="password-toggle-btn" aria-label="Show/hide password">
                <input
                type="checkbox" class="password-toggle-check">
                <i class="password-toggle-indicator fa-solid fa-eye"></i>
              </label>
          </div>
        </div><button type="submit" class="btn btn-primary rounded-pill w-100 btn-lg">Sign in</button>
      </form>
    </div>
  </div>
</div>
